@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;300;400;500;600;700;800&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: none; */
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
body {
  background: #005aa7;
  background: -webkit-linear-gradient(to right, #fffde4, #005aa7);
  background: linear-gradient(to right, #fffde4, #005aa7);
}
.container {
  width: 90vw;
  max-width: 600px;
  padding: 2em 1.5em;
  background-color: #fff;
  margin: 1em auto;
  border-radius: 0.5rem;
}
h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.input-section {
  margin: 0.5rem 0;
}

label,
.error-message {
  display: block;
  font-size: 1rem;
}
label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.error-message {
  margin-top: 0.2rem;
}
input,
button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.sign-btn {
  font-size: 1em;
  background-color: #005aa7;
  border: none;
  color: #ffffff;
  padding: 0.8em 0;
  margin-top: 2em;
  cursor: pointer;
}
.input-field {
  padding: 1rem 0.5rem;
  border: 1.5px solid #d0d0d0;
}
.required-color {
  color: #ff4747;
}
.error {
  border-color: #ff4747;
}
.valid {
  border-color: #37a137;
}
.hide {
  display: none;
}
@media only screen and (max-width: 450px) {
  .container {
    font-size: 14px;
  }
}
